@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At BrewByte, we are committed to protecting your privacy and ensuring that your personal information is handled in a safe and responsible manner. This Privacy Policy outlines how we collect, use, store, and disclose your personal information when you use our services. We collect information to enhance your experience, provide personalized services, and improve our offerings. Your data is stored securely, and we employ robust security measures to protect it. We do not share your information with third parties except as necessary to fulfill our services or as required by law. You have the right to access, update, or delete your personal information at any time..</p>
